[Unit]
Description=Biden Insult Generator for Discord
After=network.target

[Service]
User=biden
WorkingDirectory=/home/biden
ExecStart=/usr/bin/env python3 bidenbot-discord.py
ExecStartPre=/usr/bin/env pip install --user -r requirements.txt
Restart=always
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target
