[Unit]
Description=Biden Insult Generator for Slack
After=network.target

[Service]
WorkingDirectory=/home/biden
ExecStart=/usr/bin/env python3 bidenbot-slack.py
ExecStartPre=/usr/bin/env pip install --user -r requirements.txt
Restart=always
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target
