[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = {py = "*"}
boto3 = "*"
slackclient = "*"
slackeventsapi = { git = "https://github.com/antonio-te/python-slack-events-api.git" }
flask = "*"
gunicorn = "*"
splunk-opentelemetry = {extras = ["all"], version = "*"}

[requires]
python_version = "3"

[scripts]
discord = "splunk-py-trace python bidenbot-discord.py"
slack = "gunicorn --config gunicorn.config.py bidenbot-slack:app"
