[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = {py = "*"}
boto3 = "*"
slackclient = "*"
slackeventsapi = "*"
flask = "*"
gunicorn = "*"

[requires]
python_version = "3"

[scripts]
discord = "python bidenbot-discord.py"
slack = "gunicorn --config gunicorn.config.py bidenbot-slack:app"
